body {
    background-color: whitesmoke;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rowtitle {
    width: 70%;
    display: flex;
    justify-content: start;
    color: grey
}

.parent {
    margin-bottom: 20px;
    display: flex;
    width: 70%;
    background-color:white;
}

.end {
    display: flex;
    justify-content: end;
    height: auto;
    flex-grow: 1;
    align-items: end;
    padding-right: 15px;
    padding-bottom: 10px;;
}

.row {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.end button {
    background-color: #42C3AF;
    border: none;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.end button:hover {
    background-color: #13b49c;
}

.row2 {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

.row2 h5 {
    color: grey;
}

.parent h4 {
    color: #42C3AF;
}

/* view 1*/

.view-1 .end button {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.view-1 img {
    width: 150px;
    height: 150px;
    padding: 20px;
}

.view-1 .title {
    font-size: 20px;
    font-weight: bold;
}

/* view 2*/

.view-2 .title {
    font-size: 25px;
    font-weight: bold;
}

.view-2 img{
    width: 400px;
    height: 300px;
    margin-right: 20px;
}

/* view 3*/

.view-3 .end button {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.view-3 .title {
    font-size: 20px;
    font-weight: bold;
}

.view-3 .title {
    font-size: 20px;
    font-weight: bold;
}

.view-3 img {
    display:none
}

.view-3 {
    display: flex;
    padding-left: 20px;
    justify-content: center;
}

/* view 4*/

.view-4 {
    padding-left: 20px;
}

.view-4 .title {
    font-size: 25px;
    font-weight: bold;
}


.view-4 img {
    display: none;
}