.container {
    display: flex;
    background-color: whitesmoke    ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.column-1 {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.column-2 {
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    width: 73%;

}

.row {
    display: flex;
    margin-top: 20px;
    justify-self: start;
}
.row img {
    height: auto;
}

.under {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    width: 70%;
    word-wrap: break-word;
}

.under h4 {
    margin-top: 0;
}

.coloredbox {
    padding: 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
    background-color: #FFEFC8;
    border-bottom-right-radius: 15px;
    height: 100%;
}

.stretch {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.egypt {
    border-top: 2px solid;
    border-image:  linear-gradient(
    to left,
    black 0, 
    black 33.3%,
    white 33.3%, 
    white 66.6%, 
    red 66.6%, 
    red ) 3;
}

.us {
    border-top: 2px solid;
    border-image:  linear-gradient(
    to left,
    blue 0, 
    blue 33.3%,
    white 33.3%, 
    white 66.6%, 
    red 66.6%, 
    red ) 3;
}

.uae {
    border-top: 2px solid;
    background-color: white;
    border-image:  linear-gradient(
    to left,
    black 0, 
    black 33.3%,
    red 33.3%, 
    red 66.6%, 
    green 66.6%, 
    green ) 3;
    
}

.coloredbox img {
    filter: grayscale(100%);
}

.coloredbox:hover img {
    filter: grayscale(0%);
}

.coloredbox span {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid green;
}